# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

.idea
.vscode

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.build

# misc
.DS_Store
*.pem

__snapshots__

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.development
.env.test.local
.env.production.local

# vercel
temp
.vercel

# typescript
*.tsbuildinfo
